<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About HI-PRO</title>

    <!-- Bootstrap Core CSS -->
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="libs/modern-business/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="libs/font-awesome/css/font-awesome.min.css" type="text/css">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home"><img src="img/logo1.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="About"><font color="black">About</font></a>
                    </li>
                    
                    <li>
                        <a href="contact"><font color="black">Contact</font></a>
                    </li>
                                        <li>
                        <a href="services"><font color="black">Services</font></a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    
                </h1>
                <ol class="breadcrumb">
                    <li><a href="home">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/cleaning-services.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>About HI-PRO Cleaning Service</h2>
                <p>HPC is a 100% Black-Women owned BBBEE Level-1 cleaning service provider.
                    We are a business built on the principles of honesty, integrity and reliability with personal relationships being a key objective.</p>
                <p>We have identified a need in the marketplace to provide a New, more comprehensive and professional cleaning service to You, our Valued Client, and are fast growing into a professional, successful company Because we care about what You think.
                We like to develop relationships and partnerships with our Clients and Stakeholders by working with them to find solutions to their problems – we do not simply pay lip-service.</p>

            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Management Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/Christina3.jpg" alt="">
                    <div class="caption">
                        <h3>Christina Refilwe Molomo<br>
                            <small>Co-creator and director</small>
                        </h3>
                        <p>*****************</p>
                        <p>*******************************</p>
                        <p>*****************</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/MarketingD.jpg" alt="">
                    <div class="caption">
                        <h3>Alter Swart<br>
                            <small>Marketing Director</small>
                        </h3>
                            <p>*****************</p>
                            <p>*******************************</p>
                            <p>*****************</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/Noma3.jpg" alt="">
                    <div class="caption">
                        <h3>Nomasonto Joyce Makelefane<br>
                            <small>Co-creator and director</small>
                        </h3>
                        <p>*****************</p>
                        <p>*******************************</p>
                        <p>*****************</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
           
        <div>
            <br>
        </div>
        <div class="row">
<!--             <p>========================================================================</p>
            <p>HI-PRO CLEANINING SERVICES (HPC)</p>
            <p>(Pty) Ltd Co. Reg: 2016/390350/07 / BBBEE Level-1 Reg: 2016/390350/07</p>
            <p>========================================================================</p> -->
        </div>
        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Testimonies from customers</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p><b>Marian SteenKamp</b><p>
                <p>I strongly recommend HI-Pro cleaning services. They are very professional and really do a good job.
                    <br>Well done.<p>
                <!-- <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""> -->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive customer-img" src="img/testimonials2.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p><b>Riana Swanepoel</b><p>
                <p>HI-Pro dienste Julle is tops. Vriendelik en akuraat." No stone was left unturned." Goeie werk, Sal beslis weer  op julle knoppie druk.
                <br>Groete.<p>
                <!-- <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""> -->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive customer-img" src="img/Testimonials1.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p><b>Flora Moremi</b><p>
                <p>Wow HI-Pro cleaning services what a job well done they were on time an did everything we ask them to do.<p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="img/Tesimonials4.jpg" alt="">
            </div>
            
        </div>
        <!-- /.row -->

        
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; HIPRO-cleaning-services 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="libs/jquery/dist/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
