<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HI-PRO Services</title>

    <!-- Bootstrap Core CSS -->
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="libs/modern-business/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- <link href="libs/font-awesome/css/font-awesome.min.css" type="text/css"> -->


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a href="#" class="navbar-left"><img src="/path/to/image.png"></a> -->
                <a class="navbar-brand" href="home"><img src="img/logo1.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about"><font color="black">About</font></a>
                    </li>
                    <li>
                        <a href="contact"><font color="black">Contact</font></a>
                    </li>
                    <li>
                        <a href="services"><font color="black">Services</font></a>
                    </li>
                                        
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            <li data-target="#myCarousel" data-slide-to="8"></li>
            <li data-target="#myCarousel" data-slide-to="9"></li>
            <li data-target="#myCarousel" data-slide-to="10"></li>
            <li data-target="#myCarousel" data-slide-to="11"></li>
            <li data-target="#myCarousel" data-slide-to="12"></li>
        </ol>
        
                <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="fill" style="background-image:url('img/before-after/gardern1.jpg')"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/before-after/gardern2.jpg');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/before-after/gardern3.png');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/before-after/floor1.jpg');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
           <div class="item">
                <div class="fill" style="background-image:url('img/before-after/floor2.jpg');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
           <div class="item">
                <div class="fill" style="background-image:url('img/before-after/floor3.jpg');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
           <div class="item">
                <div class="fill" style="background-image:url('img/before-after/floor4.png');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
           <div class="item">
                <div class="fill" style="background-image:url('img/before-after/bath1.jpg');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
           <div class="item">
                <div class="fill" style="background-image:url('img/before-after/bath2.jpg');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
           <div class="item">
                <div class="fill" style="background-image:url('img/before-after/carpert1.jpg');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
           <div class="item">
                <div class="fill" style="background-image:url('img/before-after/bed.jpg');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/before-after/house3.jpg');"></div>
                <div class="carousel-caption">
                    <h2><b>before&nbsp&nbsp&nbsp&nbsp&nbspafter</b></h2>
            </div>
            </div>

        </div>

            <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>



    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services
                    
                </h1>
                <ol class="breadcrumb">
                    <li><a href="home">Home</a>
                    </li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->


        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Services Panels</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-home fa-stack-1x"></i>
                        </span>
                    </div>
                    <!-- <div class="tab-pane fade active in" id="service-one"> -->
                    <div class="panel-body">
                        <h4>Service One</h4>
                        <p>General house cleaning</p>
                        <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bath fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Service Two</h4>
                        <p>Laundry cleaning</p>
                        <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Service Three</h4>
                        <p>Garden services</p>
                        <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-wrench fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Service Four</h4>
                        <p>Construction-site cleaning</p>
                        <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Service Tabs</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-home"></i> Service One</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-bath"></i> Service Two</a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-tree"></i> Service Three</a>
                    </li>
                    <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-wrench"></i> Service Four</a>
                    </li>
                               
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Service One</h4>
                        <p>-General dusting deep clean</p>
                        <p>-floor vacuumed and mopped</p>
                        <p>-Tile walls cleaned</p>
                        <p>-carpets and rugs vacuumed mirrors and windows cleaned and shined</p>
                        <p>-oven cleaned front of the fridge and dishwasher cleaned</p>
                        <p>-wipe tables and chairs doors frame cleaned shower doors cleaned toilet cleaned  and sanitized</p>
                        <p>-microwave cleaned inside out sink cleaned and disinfected, waste basket cleaned and sanitized</p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h4>Service Two</h4>
                        <p>Wash dry iron and fold</p>
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <h4>Service Three</h4>
                        <p>-We offer full range of garden services at a reasonable price and use fully qualified stuff</p>
                        <p>-Grass cutting</p>
                        <p>-Garden maintenance</p>
                        <p>-Lawn care services</p>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4>Service Four</h4>
                        <p><b>Cleaning after construction</b></p>
                        <p><b>Entry and exits</b></p>
                        <p>- clean doors</p>
                        <p>- vacuum and dust everywhere</p>
                        <p>- sweep and clean the front entrance of the building</p>
                        <p>- clean exterior lights and remove any stickers</p>
                        <p>- pressure wash driveway</p>
                        <p><br></p>
                        <p><b>Kitchen</b></p>
                        <p>-  vacuum, dust, and clean shelving and drawers</p>
                        <p>- clean cabinet doors, tops of cabinet glass</p>
                        <p>- scrub countertops, edges and back splashes</p>
                        <p>- dust mop walls and floors</p>
                        <p>- clean access sealant and debris from sinks </p>
                        <p>- clean appliances inside out and under</p>
                        <p>- remove and clean all packaging, plastics, labels etc</p>
                    </div>
                </div>
            </div>
        </div>
                    
             
                


       

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; HIPRO-cleaning-services 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!-- jQuery -->
    <script src="libs/jquery/dist/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
    </script>

</body>

</html>
